<div class="textBG" id="aboutText">
<p>Facts are not fake. This is the simple credo of the History Checker team. But how can we know what is a fact? Well, by consulting the sources and the experts. We won't lie to you, and we will try our best to make sure our experts don't lie to you, either.
</div>
