
<p>Set posts to visible here</p>
<div = "PostAcceptance">
</div>
<li>
	{{post}}

	<button class="change-false" data-id="{{id}}" data-newfalse="{{false}}">
		{{#if false}}False Fact!{{else}}True Fact!{{/if}}
	</button>

<p>See questions asked here</p>
<div = "QuestionTrack">

</div>
