<a href="hcImg">
  <img src="images/hc.png" alt="img2" id="histBlockImg" class="imageBlock">
</a>
<div class="pseudojumbo">

<div data-io-article-url="" class="body-content">
 <div id="page-header"><div><div class="ais-root ais-stats"><div class="ais-body ais-stats--body"><div>
 	<h1 itemprop="headline" class="page-headline ">Search results for: <span class="search-term"></span></h1>
 	<div class="stats"></div>
 </div>
</div>
</div>
</div>
</div>


<div id="result-list" class="article-links-wrapper list-view"><div class="ais-hits"><div class="ais-hits--item">
	<article class="search-results-post article-link" itemtype="http://schema.org/Article">
		<div class="article-link-image">
			<div class="content img-url-redirect lazy-hidden" style=""></div>
		</div>
		<div class="post-content">
			<ul class="category-list">
				<li>Fact Check</li>
				<li><i class="fa fa-angle-right"></i>History</li>

					</ul>
					<h2 class="article-link-title" itemprop="name headline">
						<a href="" title="?" itemprop="url"><em></em>?</a>
					</h2>

					<div class="excerpt article-link-desc">
						<p>
							<span class="article-date"></span>
								<span class="suggestion-post-content"></span>
								</p>
					</div>
					<div class="ais-clearfix"></div>
		</div>

	</article>
</div></div></div>

