<a href="hcImg">
  <img src="images/hc.png" alt="img2" id="histBlockImg" class="imageBlock">
</a>
<div class="pseudojumbo">

<h1>The Fact Is...</h1>


<ul>
  {{#each truths}}
    <li>
      <p><span class="label">ID:</span> {{this.id}}</p>
      <p><span class="label">Quote:</span> {{this.Post}}</p>
      <p><span class="label">Author:</span> {{this.Author}}</p>

      <a href="/{{this.id}}">Update this quote</a>
    </li>
  {{/each}}
</ul>

<div class="Container">
<div class="row top-30">
  <div class="col-md-2 col-sm-2">
  </div>
  <div class="col-md-2 col-sm-2">
  </div>
</div>
<div class="row" id="searchBlock">


<p>Not happy with what you've found? Try writing for us <a href ="/blog">here!</a></p>

</div>
</div
