<a href="hcImg">
  <img src="images/hc.png" alt="img2" id="histBlockImg" class="imageBlock">
</a>
<div class="pseudojumbo">

<h1>The Fact Is...</h1>


<ul>
   {{this.Author}}
    {{answers.dataValues.Author}}
  {{#each answers}}
    {{this.Author}}
    {{answers.dataValues.Author}}

{{#unless false}}
      {{> answers/answer-block true=true}}
    {{/unless}} 
  {{/each}}
</ul>

<h2>False!</h2>
<ul>
  {{#each answers}}
    {{#if false}}
      {{> answers/answer-block false=false}}
    {{/if}}
  {{/each}}
</ul> 

<div class="Container">
<div class="row top-30">
  <div class="col-md-2 col-sm-2">
  </div>
  <div class="col-md-2 col-sm-2">
  </div>
</div>
<div class="row" id="searchBlock">


<p>Not happy with what you've found? Try writing for us <a href ="/blog">here!</a></p>

</div>
</div
