
		<div class="row top-30">
      <div class="col-md-2 col-sm-2">
      </div>
      <div class="col-md-2 col-sm-2">
      </div>
    </div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form id="cms">
					<div class="form-group">
						<label for="title">Title</label>
						<input placeholder="Article Title" type="text" class="form-control" id="title">
						<br/>
						<label for="name">Author:</label>
						<input placeholder="Please Add Your Name" type="text" class="form-control" id="name">
						<br />
						<label for="body">Body:</label>
						<textarea placeholder="Post Body" class="form-control" rows="20" id="body"></textarea>
						<div class="form-group">
							<label for="name">Credentials</label>
							<input placeholder="Please Insert Your Credentials" type="text" class="form-control" id="name">
  						</select>
						</div>
						<br />
						<button type="submit" id="btnPost" class="btn submit">Submit</button>
					</div>
				</form>
		  	</div>
		
		<footer class="footer">
      <div class="container">
        <span class="text-muted"><a href="/login" id="adminL">Administrative Log-In</a></span>
      </div>
    </footer>
    </div>
    <!-- Custom Script -->
  	<script src="..public/js/post.js" type="text/javascript"></script>
