<a href="hcImg">
  <img src="images/hc.png" alt="img2" id="histBlockImg" class="imageBlock">
</a>
<div class="pseudojumbo">

<h1>The Fact Is...</h1>

<h2>True!</h2>

<ul>
   {{this.Author}}
    {{answers.dataValues.Author}}
  {{#each answers}}
    {{this.Author}}
    {{answers.dataValues.Author}}

{{#unless false}}
      {{> answers/answer-block true=true}}
    {{/unless}} 
  {{/each}}
</ul>

<h2>False!</h2>
<ul>
  {{#each answers}}
    {{#if false}}
      {{> answers/answer-block false=false}}
    {{/if}}
  {{/each}}
</ul> 

<div class="Container">
<div class="row top-30">
  <div class="col-md-2 col-sm-2">
  </div>
  <div class="col-md-2 col-sm-2">
  </div>
</div>
<div class="row" id="searchBlock">
You searched for...

<div id="answerblock">
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>

<p>Not happy with what you've found? Try writing for us <a href ="/blog">here!</a></p>

</div>
</div
