<a href="hcImg">
  <img src="images/hc.png" alt="img2" id="histBlockImg" class="imageBlock">
</a>
<div class="pseudojumbo">
  <!-- <div class="jumbotron"> -->

 <div id="intro">
    <h1>Welcome to History Checker</h1>
    <h3>Explaining the Lessons of Yesterday for the Students of Tomorrow</h3>
    <h2>Facts Are Not Fake</h2>
  </div>

<form method="POST" action="search">
Search for your history:<br />
<input type="text" id="keyword" name="keyword" /><br />
<input type="submit" value="Search!" />
</form>
