body{
  background-color: #033C5A;
  /* color: #FFFFFF;
  /*  */
  color: #E3DCCD;
}

#topnav{
    /* overflow: hidden; */
    background-color:  #E3DCCD;
}
.fbLogin {
	float: right;
}

#logo{
	float: left;
	padding: 0;
}
a{
	color: #033C5A;
}
.imageBlock{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.pseudojumbo {
  /* background-color:white; */
  text-align: center;
  text-shadow: #033C5A;
}

button.submit {
  float: right;
  color: black;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.panel-heading button.delete,
button.edit {
  float: right;
  margin: 5px;
}
#keyword{
		color: #033C5A;
}
#searchBtn{
	color: #033C5A;
}
.author-container {
  margin-top: 50px;
}

.author-list {
  margin-top: 25px;
}

.blog-container {
  margin-top: 30px;
}

.blog {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#author-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}

#frontSearch {
  color:#033C5A;
  /* background-color: silver; */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 45px;
  line-height: 30px; /* Vertically center the text there */
  background-color: #E3DCCD;
  color: #033C5A;
}
  a{
  color: #033C5A;
  font-weight: bold;
  text-decoration: underline;
  }
  a:visited{
    font-weight:bold;
     color:white;
     text-decoration: underline;
  }
}
#adminL{
  border:0;
  outline: none;
 	background-color: #E3DCCD;
  box-shadow: none;
  border-radius: 0px;
  height:0px;
  /* background: transparent !important; */
}
#btnPost{
	background-color: #E3DCCD;
	color: #033C5A;
}
